* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Delius", sans-serif;
}

header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#output h2 {
  margin: 0 20vw;
  font-size: 20vh;
  font-weight: lighter;
}

.btn {
  padding: 10px 20px;
  margin: 40px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: orangered;
}

.btn:hover {
  box-shadow: 2px 2px 5px gray;
}

@media print {
  button {
    display: none;
  }
}
